.App {
  text-align: center;
}

.App-header {
  background-color: #1a6579;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(px + 2vmin);
  font-family: sans-serif;

}
 img{
  top: 100px;
  position: absolute;
  margin-left: 80px;
 }
.title{
  top: 250px;
  position: absolute;
  margin: 10px;
  padding: 0;
}
.social{
  display: flex;
  margin-left: 50px;
}
.social a{
  color: currentColor;
}
.git{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin: 50px;
    margin-left: 1px;
}
.lk{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin-top: 55px;
}
.st{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin: 50px;
  margin-top: 52px;
}

#git:hover{
  margin-top: 3px;
}
#lk:hover{
  margin-top: 3px;
}
#st:hover{
  margin-top: 3px;
}
.about {
  left: 0;
  border-radius: 1%;
  top: 60%;
  position: absolute;
  display: flex;
  box-shadow: 10px 20px 30px;
  background-color: rgba(255, 255, 255, 0.801);
  width: 325px;
  height: 250px;
}
.about a{
  
  margin-top: 60px;
  font-family: sans-serif;
  font-size: 15px;
}
#ig{
  left: 130px;
  margin-top: 150px;
  position: absolute;
}
.view{
  top: 60%;
  box-shadow: 10px 20px 30px 10px;
  border-radius: 2px;
  left: 21%;
  position: absolute;
  background-color: aliceblue;
  width: 75%;
  height: 250px;
}
@media (max-width: 1000px){
  .about{
    width: 20%;
  }
}
@media (max-width: 500px) 
{
  .about{
    left: 5%;
    width: 350px;

  }
  .profile{
    left: 10%;
    top: 1px;
    position: absolute;
  }
  .social{
    position: absolute;
    top: 30%;
  }
  .view{

    left: 5%;
    top: 90%;
    height: 100%;
    width: 350px;
  }  
  .App-header{
    min-height: 200vh;
   }
}
