.App {
  text-align: center;
}

.App-header {
  background-color: #dbdbdbd4;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;

}
.profile{
  position: absolute;
  top: 38%;
  display: flex;
  flex-direction: column;
  font-size: 20px;

}
 img{
  border-radius: 50%;
  top: 50px;
  position: absolute;
 }
.title{
  top: 250px;
  position: absolute;
  margin: 10px;
  padding: 0;
}

.st{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin: 50px;
  margin-top: 52px;
}
.view{
  top: 50%;
  height: 50%;
  width: 50%;
  left: 30%;
  border-radius: 2px;
  position: absolute;
  background-color: #013140(90, 100, 108, 0.316);
}

.git{
  top: 37%;
  left: 16%;
  position: absolute;
}
a{
  color: currentColor;
}
#lk{
  top: 40%;
  left: 46%;
  position: absolute;
}
#st{
  position: absolute;
  top: 40%;
  left: 76%;
}
#st:hover{
  top: 41%;
}
#lk:hover{
  top: 41%;
}
.git:hover{
  top: 38%;
}

.projeto{
  width: 150px;
  position: absolute;
  top: 40px;
  left: 1%;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(4, 5, 5);
}
.about{
  width: 150px;
  position: absolute;
  top: 40px;
  left: 30%;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(4, 5, 5);
  
}
.contatos{  
  width: 150px;
  position: absolute;
  top: 40px;
  left: 60%;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(4, 5, 5);

}

.viewtemplates{
  position: absolute;
  top: 75px;
  left: 0%;
  height: 300px;
  width: 780px;
  
}
.idisk{
  position: absolute;
  top: 15%;
  left: 15%;
  height: 100px;
  width: 150px;
  border-radius: 5%;
  background-image: url(img/IDisk.png);
  background-repeat: no-repeat;
  background-size: 160px;
}
.versionid{
  position: absolute;
  top: 55%;
  left: 25%;
}
.versionad{
  position: absolute;
  top: 55%;
  left: 70%;
}
.advtemplate{
  position: absolute;
  top: 15%;
  left: 60%;
  height: 100px;
  width: 150px;
  border-radius: 5%;
  background-image: url(img/Miniatura.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
.thevibes{
  position: absolute;
  top: 65%;
  left: 15%;
  height: 100px;
  width: 150px;
  border-radius: 5%;
  background-image: url(img/template.png);
  background-repeat: no-repeat;
  background-size: 250px;
  opacity: 25%;
  background-position: center;
}
.versiontb{
  position: absolute;
  top: 105%;
  left: 20%;
}
.viewabout{
  position: absolute;
  top: 75px;
  left: 0%;
  height: 270px;
  width: 700px;

}
.hab{
  font-weight: bold;
  left: 0;
  top: 60px;
  margin-left: 80px;
  position: absolute;
}

.habilidades{
  position: absolute;
  left: 0%;
  width: 30%;
  top: 25%;
  padding-right: 15%;
  border-right: 2px solid black; 
  height: 100%
}
.elementshab{
  border-right: 2px solid;
  position: absolute;
  margin-top: 10%;
  font-size: 35px;
  padding: 60px;
}
.formacao{
  position: absolute;
  left: 55%;
  top: 25%;
  
}
.formacao a{
  font-weight: bold;
  padding: 100px;
}
.viewcontatos{
  position: absolute;
  top: 75px;
  left: 0%;
  display: flex;
  height: 130px;
  width: 700px;
}

button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

button:hover{
  text-decoration: underline 1px#013140;
  border-radius: 3px;
  transition: 1s;

}
 #root{
  background-color: #013140;
 }







@media (max-width: 1000px) 
{
  .App-header{
    height: 130vh;
  }
  img {
    top: 15%;
    left: 110px;
  }
  .profile{
    font-size: 15px;
    left: 85px;
    top: 40%;
    position: absolute;
  }

  .view{
    left: 35px;
    top: 50%;
    width: 90%;
    
  }  
   .projeto{
    width: 40px;
    left: 0px;
    font-size: 16px;
  }
  .viewtemplates{
    width: 80vw;
    left: 30px;
  }
  .idisk{
    width: 40%;
    left: 0px;
  }
  .versionad{
    left: 18%;
    top: 110%;
  }
  .versionid{
    left: 18%;
  }
  .advtemplate{
    top: 70%;
    left: 0px;
    width: 40%;

  }
  .about{
    width: 60px;
    left: 40%;
    font-size: 16px;
  }
  .viewabout{
    left: 0;
    width: 100%;
    height: 50%;
  }
  .habilidades{
    top: 10%;
    left: 25%;
  }
  .hab{
    left: 25px;
  }
  .elementshab{
    top: 30px;
    left: 40px;
    border: none;
  }
  .formacao{
    width: 85%;
    top: 100%;
    left: 0px;
    text-align: center;
    border-top: 2px solid;
    padding: 20px;
  }
  .contatos{
    width: 40px;
    font-size: 16px;
    left: 70%;
  }
  .thevibes{
    top: 15%;
    left: 50%;
    width: 40%;

  }
  .versiontb{
    top: 55%;
    left: 55%;
  }
  .viewcontatos{
    width: 100%;
    height: 50%;
    left: 0%;
  }
  .git{
    left: 5%;
  }
  #lk{
    left: 45%;
  }
  #st{
    left: 80%;
  }
}
