.App {
  text-align: center;
}

.App-header {
  background-color: #013140;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(px + 2vmin);
  font-family: sans-serif;

}

 img{
  border-radius: 50%;
  top: 50px;
  position: absolute;
 }
.title{
  top: 250px;
  position: absolute;
  margin: 10px;
  padding: 0;
}
.social{
  position: absolute;
  top: 30%;
  align-items: center;
  
  
}
.social a{
  color: currentColor;
}

.st{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin: 50px;
  margin-top: 52px;
}
.view{
  top: 50%;
  height: 50%;
  width: 50%;
  border-radius: 2px;
  position: absolute;
  background-color: rgba(90, 100, 108, 0.316);
}

#git{
  top: 36%;
  left: 0%;
  position: absolute;
}
#lk{
  top: 40%;
  left: 30%;
  position: absolute;
}
#st{
  position: absolute;
  top: 40%;
  left: 56%;
}
#st:hover{
  top: 41%;
}
#lk:hover{
  top: 41%;
}
#git:hover{
  top: 37%;
}

.view nav{
  position: absolute;
  margin: 20px;
}
.projeto{
  position: absolute;
  left: 10%;
}
.sobremim{
  position: absolute;
  left: 45%;
}
.contatos{
  position: absolute;
  left: 75%;
}















@media (max-width: 1000px){
  .about{
    width: 20%;
  }
}
@media (max-width: 500px) 
{
  .about{
    left: 5%;
    width: 350px;

  }
  .profile{
    left: 10%;
    top: 1px;
    position: absolute;
  }
  .social{
    position: absolute;
    top: 30%;
  }
  .view{
    left: 5%;
    top: 90%;
    height: 100%;
    width: 350px;
  }  
  .App-header{
    min-height: 200vh;
   }
}
